table, th, td {
    border: 1px solid black;
  }
  th {
    height: 150px;
    width: 600px;
    background-color: lightblue;
    text-align: center
  }
  
  td {
    color: navy;
    margin-left: 100px;
    text-align: center
  }
